# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
demo01/demo01
demo02/demo02
demo03/demo03
demo04/demo04
demo05/demo05
demo06/demo06
demo07/demo07
demoGL/demoGL
runTests
vgcore.*

# Netbeans
**/nbproject/private/*
/engine/build/

# Logs
*.log

# protobuf generated
*.pb.h
*.pb.cc
/demoGL/build/
